.pasek{
  width: 20px;
  height: 100px;
  display: inline-block;
  margin: 0 10px;
}

.pasek:hover{
  cursor: pointer;
}
#pasekCont{
  background-color: #F5F5DC;
  margin: auto;
  width: 300px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
